/* generals */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: #2B2B2B;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p, a {
    font-size: 1.4rem;
}

h1 {
    color: #F69A56;
    font-size: 3.4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

label {
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}

input {
    font-size: 1.6rem;
    border-radius: .6rem;
    border: none;
    padding: 1rem;
    outline: none;
    max-width: 30rem;
    border: .2rem solid #F69A56;
    text-transform: capitalize;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    align-items: center;
}

.btn {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 5rem;
    margin: 0;
    background-color: #F69A56;
    color: #ffffff;
    border-radius: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.bg {
    background-color: #646464;
}

.container-father {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* main */

.container-main {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 50%;
    flex-grow: 1;
    min-height: calc(90vh - 8.1rem);
    height: calc(100vh - 8.1rem);
}

.team-list {
    overflow: auto;
    height: 20rem;
    background-color: #ffffff;
    border-radius: .6rem;
    max-width: 50rem;
    width: 100%;
    border: .3rem solid #F69A56;
    padding: 2rem;
}

.name-container, .size-container {
    display: flex;
    flex-direction: column;
}

.size-container input {
    align-self: center;
    width: 9rem;
}

.container-btn {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}

/* teams */

.teams-container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 1;
    /* min-height: calc(90vh - 8.1rem);
    height: calc(100vh - 8.1rem); */
}

.teams-container h2 {
    color: #F69A56;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.team-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.teams {
    height: 20rem;
    background-color: #ffffff;
    border-radius: .6rem;
    margin-bottom: 3.2rem;
    margin-top: 0rem;
    width: 100%;
    min-width: 20rem;
    flex-basis: 47%;
    flex-grow: 1;
}

.teams h4 {
    font-size: 1.5rem;
    text-align: center;
    background-color: #F69A56;
    padding: 1rem;
    margin-top: 0;
    border-radius: .6rem .6rem 0 0;
    color: #ffffff;
}

.name-list {
    font-size: 1.4rem;
    text-align: start;
    margin-bottom: .4rem;
    margin-left: 2rem;
    text-transform: capitalize;
}

@media (min-width: 480px) {
    .container-main {
        padding-right: 2rem;
        border-right: .1rem solid #F69A56;
        min-height: calc(90vh - 8.1rem);
        height: min-content;
    }
    .teams-container {
        max-height: calc(90vh - 8.1rem);
        min-height: 55rem;
        padding-left: 2rem;
    }
    .team-container {
        overflow: auto;
        padding-right: 1rem;
    }
    *::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    *::-webkit-scrollbar:vertical {
        width: 10px;
        border-radius: 10px;
        background-color: #f1f2f3;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }
    *::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}