/* generals */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: #2B2B2B;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    align-items:center;
}

p, a {
    font-size: 1.4rem;
}

h1 {
    color: #F69A56;
    font-size: 3.4rem;
    text-align: center;
    margin-bottom: 4rem;
}

label {
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}

input {
    font-size: 1.6rem;
    border-radius: .6rem;
    border: none;
    padding: 1rem;
    outline: none;
    max-width: 30rem;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 5rem;
    background-color: #F69A56;
    color: #ffffff;
    border-radius: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* main */

.container-main {
    text-align: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.team-list {
    overflow: auto;
    height: 20rem;
    background-color: #ffffff;
    border-radius: .6rem;
    max-width: 50rem;
    width: 100%;
}

.size-container input {
    align-self: center;
    width: 9rem;
}

.container-btn {
    margin-top: 2.2rem;
    margin-bottom: 3.2rem;
}

/* teams */

.teams-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.teams {
    height: 20rem;
    background-color: #ffffff;
    border-radius: .6rem;
    margin-bottom: 3.2rem;
    margin-top: 3.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: none;
}


@media (min-width: 480px) {
    .prueba {
        display: flex;
    }
    .container-main {
        flex-basis: 50%;
        padding-right: 2rem;
    }
    .teams-container {
        flex-basis: 50%;
        padding-left: 2rem;
    }
}