/* generals */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: #2B2B2B;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    align-items: center;
}

p, a {
    font-size: 1.4rem;
}

h1 {
    color: #F69A56;
    font-size: 3.4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

label {
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}

input {
    font-size: 1.6rem;
    border-radius: .6rem;
    border: none;
    padding: 1rem;
    outline: none;
    max-width: 30rem;
    border: .2rem solid #F69A56;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 5rem;
    margin: 0;
    background-color: #F69A56;
    color: #ffffff;
    border-radius: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* main */

.container-main {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 8.1rem);
}

.team-list {
    overflow: auto;
    height: 20rem;
    background-color: #ffffff;
    border-radius: .6rem;
    max-width: 50rem;
    width: 100%;
    border: .2rem solid #F69A56;
    padding: 0;
}

.size-container input {
    align-self: center;
    width: 9rem;
}

.container-btn {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}

/* teams */

.teams-container {
    display: flex;
    flex-direction: column;
    flex: wrap;
    justify-content: space-around;
}

.teams-container h2 {
    color: #F69A56;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.team-container {
    width: 100%;
}

.teams {
    height: 20rem;
    background-color: #ffffff;
    border-radius: .6rem;
    margin-bottom: 3.2rem;
    margin-top: 0rem;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    width: 100%;
    max-width: 50rem;
    flex-basis: 50%;
}

.teams h4 {
    font-size: 1.5rem;
    text-align: center;
    background-color: #F69A56;
    padding: 1rem;
    margin-top: 0;
    border-radius: .6rem .6rem 0 0;
    color: #ffffff;
}

.name-list {
    font-size: 1.4rem;
    text-align: start;
    margin-bottom: .4rem;
    margin-left: 2rem;
}

@media (min-width: 480px) {
    .prueba {
        display: flex;
    }
    .container-main {
        flex-basis: 50%;
        padding-right: 2rem;
        border-right: .1rem solid #F69A56;
        height: calc(90vh - 8.1rem);
    }
    .teams-container {
        flex-basis: 50%;
        padding-left: 2rem;
        height: calc(90vh - 8.1rem);
        justify-content: initial;
        overflow: auto;
    }
    .team-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .teams {
        flex-basis: 47%;
    }
}